@charset "utf-8";

/* ---------------------
    - 1. common setting 
    - 2. header
    - 3. main
      - 3.1 navigation drawer
      - 3.2 content
    - 4. footer
--------------------- */

/* =====================
  1. common setting
===================== */
/* none */


/* =====================
  2. header 
===================== */
/* none */


/* =====================
  3. main
===================== */

/* 3.1 navigation drawer */
.navi-drawer li:nth-child(2) a {
  color: #9A67EA;
}

.navi-drawer li:nth-child(6) a {
  color: #9A67EA;
  background-color: rgba(153, 103, 234, 0.26);
}

.content-title {
  padding: 32px 48px;
}

.content-main {
  padding: 32px 48px;
}


/* =====================
  4. footer 
===================== */
/* none */